###> symfony/framework-bundle ###
.env
yarn.lock
yarn-error.lock
/public/bundles/
/var/
/vendor/
/public/uploads/preview/*
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

asset/* linguist-vendored
app.js linguist-vendored=false
index.js linguist-vendored=false